:root {
  --primary-color: rgba(18, 18, 18, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --highlight-color: rgba(98, 198, 224, 1);
  --border-color: rgba(230, 230, 230, 0.05);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--highlight-color);
  font-weight: 900;
}

p {
  margin: 0;
  color: #fff;
}

a {
  text-decoration: none;
}

header {
  background: rgba(18, 18, 18, 0.8);
  height: 80px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
}
header div {
  margin: 0 auto;
  max-width: 72rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid var(--border-color);
}
header div h1 span {
  color: var(--secondary-color)
}
header div nav {
  height: 100%;
}
header div nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}
header div nav ul li {
  height: 100%;
  list-style-type: none;
}
header div nav ul li:first-child {
  border-left: 1px solid var(--border-color);
}
header div nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--border-color);
  padding: 0 30px;
  color: var(--secondary-color);
  font-weight: 300;
  letter-spacing: 2px;
}
header div nav ul li a:hover {
  background: #242424;
}

@media (max-width: 768px) {
  header div h1 {
    font-size: 1.2rem;
  }
  header div nav ul li a {
    font-size: 0.6rem;
    padding: 0 15px;
  }
}